body {
    margin: 0;
    background: linear-gradient(-45deg, #fab7a3, #cbf8b1, #a9e4fa, #a8bdf8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
